* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

main {
    font-family:'Inconsolata', monospace;
}

.landing {
    min-height: 100vh;
    min-width: 100%;
    background:url('images/bike.jpg');
    background-size: cover;
    padding:0rem 5rem;
}

#logo {
    font-family: 'Chilanka', cursive;
    font-weight: lighter;
    font-size: 3rem;
    color: #ffa500;
    padding-top:1rem;
}
.big-text {
    font-size:2rem;
    margin-top:35px;
}
span {
    transition: all 1s ease; 
    color: white;
}

span.fade {
    color: black;
}

/*------- Nav-bar ----------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display:flex;
    list-style: none;
}

.nav-links li {
    padding-left: 2rem;
    font-size: 1.1rem;
}

/*------- Services ----------*/

.serv-head {
    font-size: 3rem;
    text-align: center;
    color: #ffa500;
    font-family:'Inconsolata', monospace;
    margin-top: 2rem;
}

.serv-para {
    text-align: center;
    font-family:'Inconsolata', monospace;
}

.serv-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    list-style: none;
}

.boxy {
    padding:2rem;
    font-size: 1.1rem;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 2rem;
    width: 25%;
    color: #ffa500
}

.boxy i {
    font-size: 3rem;
    color:#ffa500;
}

.boxy ul li {
    list-style-type: none;
    color: darkgray;
    line-height: 150%;
    margin: 5%;
}

.repair h2 {
    padding: 1rem;
    border-bottom: 1px solid blue;
}

.deliv h2 {
    border-bottom: 1px solid red;
    padding: 1rem;
}

.insure h2 {
    padding:1rem;
    border-bottom: 1px solid green;
}

.secure h2{
    border-bottom: 1px solid #ffa500;;
    padding: 1rem;
}

/*------- Order ----------*/

.order {
    background-color: #ffa500;
    font-family: 'Inconsolata', monospace;
    min-height: 400px;
}
.order-head{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.giant {
    width: 150px;
    height: 150px;
}

.order h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding:50px;
}

.order p {
    text-align: center;
    padding:1%;
}

.order a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding:1%;
    margin:auto;
    margin-top:1%;
    margin-bottom: 150px;
    width:200px;
    border-radius: 5%;
    background-color:black;
    color:#ffa500;
    transition:2s;
}

.order a:hover {
    background-color: #5f5f5f;
}

/*------- About ----------*/

.about {
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
}

.about-head {
    display: flex;
    justify-content: center;
    font-size:3rem;
    font-family:'Chilanka', cursive;
    padding-top:20px;
}

.about-tagline{
    display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    color:#ffa500;
}

.about-state{
    display: flex;
    justify-content: center;
    font-family: 'Chilanka', cursive;
    font-size:3rem;
    padding-top:50px;
}

.about-text {
    color: #ffa500;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    padding:5px;
}

.about h4 {
    display: flex;
    justify-content: center;
    font-family: 'Chilanka', cursive;
    font-size: 1.5rem;
    padding-top:50px;
}

.about-text-2 {
    display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    color: #ffa500;
}

/*------- Custom ----------*/

.custom {
    background-color:white;
}

.custom-head {
    font-family:'Inconsolata', monospace;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.custom-chat {
    display: flex;
    flex-direction: row;
}

.chat-head {
    margin:40px;
    padding:20px;
    font-size:1.2rem;
    font-family: 'Chilanka', cursive;
    border: 1px solid #ffa500;
}

.chat-head i {
    color:#ffa500;
}

.user-name {
    padding:20px;
    color:#5f5f5f;
    font-family:'Inconsolata', monospace;
}

/*------- Range ----------*/
.range {
    background-color: #ffa500;
}

.range-head {
    font-family: 'Chilanka', cursive;
    font-size:3rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.range p {
    display: flex;
    justify-content: center;
    font-family:'Inconsolata', monospace;
    color: #5f5f5f;
}

.range-bikes {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 90px;
}

.range-bikes img {
    margin:20px;
    border: 1px solid black;
    height: 225px;
    width:300px;
    opacity: 0.5;
    transform: all 2s ease-in-out ;
}

.range-bikes img:hover {
    opacity: 1;
}

/*------- Contact ----------*/
.contact {
    background-color: black;
    color: white;
}

.contact-head {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 40px;
    font-family:'Inconsolata', monospace;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details input {
    width: 30%;
    height:30px;
    background-color: black;
    color: white;
    border:none;
    border-bottom:1px solid #ffa500;
    font-family: 'Chilanka', cursive;
}

.msg textarea{
    width:80%;
    height:150px;
    padding: 12px 20px;
    border:1px solid #ffa500;
    border-radius: 4px;
    background-color: black;
    color: white;
    margin:80px auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Chilanka', cursive;
}

.msg input {
    background-color: #ffa500;
    padding:10px 40px;
    margin-left: 80%;
}